.Footer {
  border-top: 1px solid #2a4157;
  background: #001e3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 5px 30px;
}

.Footer p {
  color: grey;
  font-size: 12px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}
