.Row {
  padding: 30px;
  padding-top: 0px;
}

.images {
  width: 400px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  /* For Mobile*/
  .MuiImageList-masonry {
    column-count: 1 !important;
  }
}

@media only screen and (min-width: 900px) {
  /* For Tablet*/
  .MuiImageList-masonry {
    column-count: 2 !important;
  }
}

@media only screen and (min-width: 1200px) {
  /* For Desktop*/
  .MuiImageList-masonry {
    column-count: 3 !important;
  }
}

/* @media only screen and (max-width: 768px) {
  .MuiImageList-masonry {
    column-count: 3 !important;
  }
} */
